extends global

block head
	title #{name} | At Home Among Strangers
	link(rel="stylesheet", href="../global.css")

block content
	h1
		| #{name}
		small by a stranger among his own
	
	article !{html}
	
	hr
	
	p#essay-info
		| Published on #{dateStr} by 
		a(href="http://tkaz.ec") Teddy Cross
		| .
		br
		| Discuss on 
		a(href=urls.hn, target="_blank") Hacker News
		|  and 
		a(href=urls.rd, target="_blank") Reddit
		| .
		br
		| Share on 
		a(href=urls.tw, target="_blank") Twitter
		|  and 
		a(href=urls.gp, target="_blank") Google+
		| .
	
	p#essay-more
		| › 
		a(href="..") more essays
		|  ‹