extends global

block head
	title #{title}
	link(rel="stylesheet", href="../global.css")

block content
	h1
		| #{title} 
		small
			| by 
			a(href="https://twitter.com/tkazec") @tkazec
	
	| !{html}
	
	hr
	
	p#essay-info
		| Published on #{dateStr} by 
		a(href="http://tkaz.ec") Teddy Cross
		| .
		br
		if hackernews
			| Hash out on 
			a(href="#{hackernews}", target="_blank") Hacker News
			|  § 
		if googleplus
			| Form ripples on 
			a(href="#{googleplus}", target="_blank") Google+
			|  § 
		| Chirp around on 
		a(href="https://twitter.com/intent/tweet?text=" + encodeURIComponent(title) + "&url=" + encodeURIComponent("http://essays.tkaz.ec/" + path) + "&via=tkazec", target="_blank") Twitter
	
	p#essay-more
		| › 
		a(href="..") more essays
		|  ‹